<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
</head>
<body>
	<div>
			<h2>Welcome home, <%= branch.branchname%></h2> 		
	</div>

	<a href="/home/index">view users</a> |
	<a href="/logout">Logout</a><br>

</body>
</html>